@import 'https://fonts.googleapis.com/css?family=Lato:400,700';

:root{
    --blanco:#FFF;
    --fondo-oscuro:rgb(9, 22, 34);
    --fondo:#121F3D;
    /* --fondo:#24385B; */
    --primario:#0C1633;
    --secundario:#7A15E4;
}
*{
  margin:0;
  padding:0;
  appearance: none;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
html {
    font-size: 62.5%;
    box-sizing: border-box;
  }
body{
  font-size: 16px;
  /* Esto lo que hace es que 1rem equivalga a 10px */
  background-color: var(--fondo);
  display:flex;
  justify-content:center;
  align-items:center;
  flex-direction: column;
  font-family: 'Lato', sans-serif;
}
#header{
    width: 100%;
    background-color: var(--fondo-oscuro);
    display:flex;
    align-items:center;
    padding: 0 10rem;
}
#header-img{
    height: 20rem;
}
#nav-bar{
    width: 100%;
    display:flex;
    justify-content: space-between;
    align-items:center;
}
#links{
    display: inline;
}
.nav-link{
    color: var(--blanco);
    text-decoration: none;
    font-size: 2rem;
    font-weight: 700;
    transition: color 0.4s ease;
    text-align: center;
}
.nav-link:hover{
    color: var(--secundario);
}
.nav-link:nth-child(2){
    margin: 0 10rem;
}
@media (max-width: 880px) {
    #nav-bar{
        flex-direction: column;
    }
    .nav-link:nth-child(2){
        margin: 5rem 0;
    }
    #links{
        display:flex;
        justify-content:center;
        align-items:center;
        flex-direction: column;
    }
    #header{
        padding: 1rem 5rem 5rem;
    }
}